*.pro.user
*.pro.user.*
*.user

.qtcreator/
**/.qtcreator/

.qtc_clangd/
**/.qtc_clangd/

build/
**/build/

build-*/
**/build-*/

*.o
*.obj
*.a
*.lib

*.so
*.dll
*.dylib

*.exe

.qmake.stash
Makefile
Makefile.*

moc_*
qrc_*
ui_*

object_script.*
moc_predefs.h

debug/
release/
Debug/
Release/

*.Debug
*.Release

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json


*.tmp
*.temp
*.log
*.bak
*.swp
*~

.DS_Store
Thumbs.db
desktop.ini