[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.untitled16
Exec=/usr/bin/ru.template.untitled16
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=Internet
OrganizationName=ru.template
ApplicationName=untitled16
ExecDBus=/usr/bin/ru.template.untitled16
